body { width:1920px; height:1080px;font-size:0;font-family:Arial,Helvetica,Sans;background-color:#000000; }
body, div, button { margin:0;padding:0; }

#gamePlay { position:relative;width:100%;height:100%;background:#1A1A2F }

canvas { height:100%;width:100%;background:#33CC33 }

@keyframes tostart 
{
	0% { color: #FFFFFF; }
	50% { color: #191919; }
	0% { color: #FFFFFF; }
}

.fade 
{
	position: relative;
	width: 100%;
	min-height: 40vh;
	top: -25px;
	background-image:linear-gradient(0deg, transparent, black 75%);
	z-index: 1;
}

#sagaSell { position:absolute;top:0;left:0;background-color:rgba(0,0,0,0.9);height:1080px;overflow:hidden;font-size:12pt;z-index:100 }
.star-wars 
{
	display: flex;
	justify-content: center;
	position: relative;
	height: 800px;
	color: #feda4a;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 500%;
	font-weight: 600;
	letter-spacing: 6px;
	line-height: 150%;
	perspective: 400px;
	text-align: justify;
}

.crawl 
{
	position: relative;
	top: 9999px;
	transform-origin: 50% 100%;
	animation: crawl 30s linear;
}

.crawl > .title 
{
	font-size: 90%;
	text-align: center;
}

.crawl > .title h1 
{
	margin: 0 0 100px;
	text-transform: uppercase;
}

@keyframes crawl 
{
	0% 
	{
		top: 0;
		transform: rotateX(20deg)  translateZ(0);
	}
	100% 
	{
		top: -6000px;
		transform: rotateX(25deg) translateZ(-2500px);
	}
}

#titleScreen { position:absolute;top:0;left:0;height:100%;width:100%;z-index:90 }
#titleScreen span
{
	display:block;
	position:absolute;bottom:10%;
	left:0;width:100%;
	text-align:center;
	font-size:60pt;
	color:#ffffff;
	text-transform:uppercase;
	text-decoration:blink;
	animation-name: tostart;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

#characterSelect
{
	position:absolute;
	background-color:rgba(0,0,0,0.7);
	border-radius:50px;
	padding:50px;
	top:14%;left:14%;
	height:calc(72% - 100px);width:calc(72% - 100px);
}

.player { display:inline-block;width:50%;height:5%;color:#ffffff;font-size:22pt;text-transform:uppercase; }
.player.active { font-weight:bold }
.player:nth-child(1) { color:#33CCFF;text-align:left }
.player:nth-child(2) { color:#999966;text-align:right }

figure { height:30%;width:22%;display:inline-block;margin:0.5% 1.5%;padding:0;border-radius:5%; }
figure img { height:85%;width:95%;margin:0;padding:2% 2% 0 2%;border-radius:5%; }
figcaption { color:#ffffff;text-align:center;font-size:large;margin:0;padding:0 2% 2% 2%;height:15%;width:100%; }

figure:hover { background-color:#66CC33 }
figure.selected_player1, figure.selected_player1:hover { background-color:#33CCFF }
figure.selected_player2, figure.selected_player2:hover { background-color:#999966 }
figure.selected_player1 figcaption, figure.selected_player2 figcaption { color:#ffffff }
figure.selected_player1 figcaption:before, figure.selected_player2 figcaption:before { content:'\2713 '; }

.dialog { position:absolute;background-color:rgba(0,0,0,0.7);border-radius:10%;padding:3%; }
#dialog1 { top:10%;left:10%;height:calc(80% - 100px);width:calc(80% - 100px); }
#dialog2 { bottom:0;right:0;height:calc(35% - 100px);width:calc(30% - 100px);padding:1%; }
#dialog3 { top:0;left:2%;height:calc(35% - 100px);width:calc(20% - 100px);padding:1%; }

#topPanel { height:20%;width:100%;background:red; }
#topPanel img { height:100%;width:20%; }
#topPanel div { height:100%;width:30%;display:inline-block;text-align:center;vertical-align:top;font-size:14pt; }
#timeout { display:block;font-size:5em;margin:5% auto;font-weight:bold;background-color:purple; }
#topPanel button { margin:5% auto; }

#battleMenu { height:calc(80% - 40px);width:calc(100% - 40px);font-size:14pt;padding:20px;position:relative }
.characterMenu, .skillOverlay, .characterReady { position:absolute;top:0;height:100%;width:50%; }
.active1, #skillOverlay1, #characterReady1 { left:0;background-color:blue; }
.active2, #skillOverlay2, #characterReady2 { left:50%;background-color:aquamarine; }
.inactive { visibility:hidden }

.abilities { padding:20px;text-align:center; }

.skillDesc { font-size:1.5em;margin:10px 20px 5px 20px;padding:10px;height:22%;background-color:#ffffff;border-radius:10px; }
.skillDesc strong { text-transform:uppercase; }

.characterReady { background-size:100%;background-repeat:no-repeat;filter: grayscale(80%); }
.characterAction { margin:20px;font-size:3em;font-weight:bold;text-align:center;line-height:1.6em; }

button { border:none;border-radius:8%;background-color:#000000;color:#ffffff; }
.dialog button { display:block;height:1.8em;width:auto;font-size:2.5em;margin:0.1em;padding:5%;line-height:0.4em;margin:3% auto; }
button[disabled] { background-color:grey }

button.selected { color:gold; }
button.selected:before { content:'\2713 ';color:gold; }

.smBtn { height:1.2em;width:auto;font-size:0.5em;font-size:0.8em;padding:3%;background-color:#0033FF;line-height:0.3em; }

textarea { font-size:12pt;padding:2px;height:auto;background-color:#000000;color:yellow;font-family:monospace; }

.minimize { position:absolute;height:5% !important;overflow:hidden; }
#dialog2.minimize { width:auto !important;padding:0.5%;z-index:0 }
#dialog3.minimize { width:5% !important;padding:0; }

a { display:block;font-size:28pt;margin:0;padding:0;background:red;text-decoration:none;padding:2%; }
nav a { padding:4% 2%;margin:2% 0; }

#imgViewer
{
	visibility:hidden;
	position:absolute;
	top:10%;left:10%;

	background-color:rgba(0,0,0,0.7);
	padding:3%;	
	
	height:calc(80% - 100px);
	width:calc(80% - 100px);
	
	background-size:100%;
	background-repeat:no-repeat;
}
#imgViewer span { font-size:xx-large;font-weight:bold;display:inline-block;width:100%; }

.p1-skillImg { border:solid 4px #33CCFF; }
.p1-skillImg span { text-align:left;color:#33CCFF; }

.p2-skillImg { border:solid 4px #999966 }
.p2-skillImg span { text-align:right;color:#999966 }